body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;
	font-size:11px;
}

h1 {
	font-family: Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
}
h2, .h2 {
	font-size: 18px;
	font-family: Arial, sans serif;
}
h3, .h3 {
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
h4, .h4 {
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
